@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
*{
    border: red 0px solid;
} */

body::-webkit-scrollbar{
    display: none;
}

.feature {
    border-image: radial-gradient(circle at top left , rgb(28, 255, 236),transparent 50%);
    border-image-slice: 1;
  }
  